@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: url(https://picsum.photos/id/102/1900/1100);
  object-fit: contain;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 25px;
}
